.cor-nome {
  color: rgb(0, 58, 41);
}

.cor-subtítulo {
  color: rgb(13, 134, 94);
}

.fonte-título {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fonte-subtítulo {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.espaçamento {
  margin-right: 300px;
  margin-left: 400px;
}

body {
  background-color: rgb(16, 255, 183);
}
